
* {
    margin: 0;
    padding: 0;
  }

  .GridContainer {
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #d2e4e1;
    border: 3px solid #fce6a8;
    }

  .CabeçalhoFlex {
    border: 3px solid #fce6a8;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    grid-column: 1 / 4;
    }

  .CabeçalhoFlex > button {
    background-color: #788896;
    color: white;
    margin-right: 10px;
    margin-left: 5px;
    font-size: 15px;
    border-radius: 3px;
  }

  .CabeçalhoFlex > div {
    flex-grow: 1;
    text-align: center;
    font-size: 24px;
  }
  
  .PrincipalFlex {
    border: 3px solid #fce6a8;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    grid-column: 2 / 4;
    }

  .soma {
    flex-basis: 100%;
    flex-grow: 1;
    }
  
  .pokemon {
    flex-basis: 100%;
    flex-grow: 1;
  }
  
  .RodapeFlex {
    border: 3px solid #fce6a8;
    background-color: #d2e4e1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    grid-column: 1 / -1;
    }